@import url(https://fonts.bunny.net/css?family=zen-dots:400);
@import url(https://fonts.bunny.net/css?family=roboto:400,700,900);
/* font for types*/     
.light-theme{
    --bg_container : hsla(228, 50%, 96%, 0.823);
    --bg : hsl(100,0,0);
    --bigFont : rgb(0, 0, 0);
    --minFont : hsl(228, 12%, 44%);
    --toggle : hsl(230, 22%, 74%);
    --navFont : hsl(232, 19%, 15%);
    --headerTab : orange;
    --card_pokemon_team : hsl(0, 0%, 100%);
    transition: ease-in .5s; 
}
#light_icon > path{
    fill: black ;
}
#dark_icon > path{
    fill: yellow;
}
.dark-theme{
    --bg_container : hsl(229, 31%, 30%);
    --bg : hsl(230, 17%, 14%);
    --bigFont : hsl(0, 0%, 100%);
    --minFont : hsl(228, 34%, 66%);
    --toggle : linear-gradient(hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    --headerTab : orange;
    --card_pokemon_team : hsl(229, 22%, 35%);
    transition: ease-in .5s;
}
.bigText{
    color: var(--bigFont);
}
.minText{
    color : var(--minFont); 
}
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 50px 50px 50px;
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
}
.row{
    display: flex;
}
.row-center{
    display: flex;
    justify-content: center;
}
.container{
    border: solid 1px black;
    border-radius: 50px;
    background-color: var(--bg_container);
    max-width: 800px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-right: 25px;
    list-style: none;
}
.nav-item a {
    text-decoration: none;
}
.logo{
    width: 60px;
    height: 60px;
}
.pokemon-title{
    text-align: center;
}
.card-type {
    width: 200px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.card-type > img {
    height: 40px;
}
.card-type > span {
    margin: auto;
    font-family: 'Zen Dots';
}
.ability{
    margin: 15px 15px 15px 0;
    width: 170px;
    height: 40px;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
}
.abilities{
    margin-left: 40px;
}   
.card{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
}
.card-img > img {
    width: 300px;
    height: 200px;
}
.informations{
    padding: 15px;
}
.img-container > img{
    width: 150px;
    height: 150px;
}
.card-header{
    margin: 40px 0 40px 0;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
input:checked + .slider {
    background: var(--toggle);
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);  
}
.round {
    border-radius: 34px;
}
.iconTheme > svg {
    width: 20px;
    height: 20px;
}
.nav-link{
    color : var(--minFont);
    font-size: 20px; 
    display: inline-block;
    position: relative;
}
.nav-link::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background : var(--bigFont);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-link:hover::after{
    width: 100%;
    left: 0;
}
li{
    position: relative;
}
.iconTheme{
    margin-right: 10px;
}
.card-moves{
    display: flex;
    align-items: center;
    border: 1px solid hidden;
    background-color: #2196F3;
    padding: 5px;
    border-radius: 10px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}
.card-moves:hover{
    transform: scale(1.07);
}
.link-moves{
    text-decoration: none;
}
.arrow > svg{
    width: 40px;
    height: 40px;
    transition: ease-in-out .3s;
}
.arrow > svg > path {
    fill: var(--bigFont);
}
.arrow> svg:hover{
    transform: scale(1.2);
}
.pokemon-title{
    font-weight: 900;
    font-size: 40px;
}
.canvas {
    color: #2196F3;
}
label{
    color: var(--bigFont);
}
.header-logo{
    display: flex;
    align-items: center;
    position: relative;
}
.results{
    display: none;
    background-color: rgb(209, 208, 208);
    position: absolute;
    z-index: 1000;
    border-radius: 2px;
    border: 2px solid white;
}
.results > a {
    z-index: 150000000;
    text-decoration: none;
    color: black
}
.results > a:visited{
    color: black;
}
.results > a:hover{
    background-color: var(--card_pokemon_team);
}
.search_pokemon{
    position: relative;
}
.search_pokemon > input{
    width: 200px;
    height: 40px;
    background-color: var(--bg_container);
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    padding: 2px 0px 2px 5px;
    color : var(--bigFont);
}
.search_pokemon > input::placeholder{
    color : var(--bigFont);
}
.active{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}