.container-table{
    display: flex;
    justify-content: center;
}
table{
    border-collapse: collapse;
}
th{
    padding: 15px 35px 15px 35px;
    margin-right: 10%;
    background-color: var(--headerTab);
    text-align: center;
}
td{
    background-color: var(--bg_container);
}
td:not(tbody:first-child), td:not(.move1){
    border-top : solid 1px var(--minFont)
}
.row_table{
    text-align: center  ;
}
H1-Center{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    font-size: 18px;
}
.move_name {
    font-weight: bold;
}
th:first-of-type {
    border-top-left-radius: 10px;
}
th:last-of-type {
    border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}
h1{
    margin: 20px;
}
