@import url(https://fonts.bunny.net/css?family=zen-dots:400);
/* font for types*/
body{
    padding: 20px 50px 50px 50px;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.row-center{
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-left: 25px;
    list-style: none;
}
.nav-item a {
    text-decoration: none;
}
.logo{
    width: 60px;
    height: 60px;
}
.pokemon-title{
    text-align: center;
}
.card-type {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.card-type > img {
    height: 50px;
}
.card-type > span {
    margin: auto;
    font-family: 'Zen Dots';
}