body{
    padding: 20px 50px 50px 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}
.nav-item{
    margin-left: 25px;
    list-style: none;
}
.nav-item a {
    text-decoration: none;
}
.logo{
    width: 60px;
    height: 60px;
}
.pokemon-title{
    text-align: center;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-img{
    flex : 1 0 21%;
}
.informations {
    flex : 1 0 21%;
}