.container{
    max-width: 90%;
    height: fit-content;
}
.dropdownContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.dropdown{
    position: relative;
    width: 300px;
    height: 50px;
}
.dropdown input{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    border-radius: 15px;
} 
.dropdown::before {
    content: '';
    position : absolute;
    width: 8px;
    height: 8px;
    border: 2px solid black;
    z-index: 100000;
    right: 20px;
    top: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
    transition: .5s;
    pointer-events: none;
}
.dropdown.active::before{
    transform: rotate(-225deg);
    top : 22px
}
.dropdown .option div{
    padding: 12px 20px;
    background: whitesmoke;
    transition: .5s;
}
.dropdown .option div:hover{
    background: aqua;
    transition:  ease-in-out .5s;
}
.dropdown .option
{
    border-radius: 15px;
    position: absolute;
    top: 45px;
    width: 100%;    
    overflow : scroll;
    overflow-x: hidden;
    display: none;
    max-height: 300px;
}
.dropdown.active .option{
    display: block;
    z-index: 20000;
}
.dropdown .option::-webkit-scrollbar{
    display: none;
    border-radius: 15px;
    width: 10px;
    background-color: white;
}
.dropdown .option::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
}
.buildTeam{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap : 20px ;
}
.card_pokemon_team .card_pokemon_team_img img{
    width: 200px;
    height: 200px;
}
.card_pokemon_team_name{
    display: flex;  
    align-items: center;
}
.flash {
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    padding: 40px;
    background-color: red;
    color: white;
    text-align: center;
    transform: translateY(100%);
  }
  
  .flash-is-showing {
    animation: popup 3s 1;
  }
  
  @keyframes popup {
    0% { transform: translateY(100%); }
    10% { transform: translateY(0); }
    90% { transform: translateY(0); }
    99% { transform: translateY(100%); }
  }
  .card_pokemon_team{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border : solid 1px var(--bigFont);
    border-radius : 30px;
    margin-right: 3px;
    max-width: 100%;
    height: 70%;
    background-color: var(--card_pokemon_team) ;
  }
  .types_div{
    display: flex;
  }

.card-type{
    width: 120px;
    padding: 5px;
}
.card_pokemon_team_name{
    font-size: 20px;
}
.card_pokemon_team span svg {
    padding-top: 6px;
}
.card_pokemon_team span svg path {
    fill:red
}
canvas{
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}
.team_name{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.add_team{
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn_add_team{
    background-color: rgba(248, 202, 248, 0.658);
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    transition: .5s;
    border-radius: 10px;
}
.btn_add_team:hover{
    transform: scale(1.1);
    
}
.team_container {
    position: relative;
    border: 1px solid var(--bigFont);
    border-radius: 15px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.container-teams{
   margin: 5%;
}
.btn_delete_team{
    position: absolute;
    right: 7px;
    cursor: pointer;
    transition: .5s;
    padding: 10px;
    transform: scale(1.4);
}
.btn_delete_team > svg > path {
    fill: rgb(143, 40, 65);
}
.btn_delete_team:hover{
    transform:scale(1.8);
}