<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>
<body>
    <header>
        <div class="container-header">
            <nav class="navbar">
                <div class="header-logo">
                    <img  class="logo" src="{% static '/img/pokedex_icon.svg' %}" alt="logo"  >
                </div>
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My teams</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="arrows">
                <div class="left-arrow"></div>
                <div class="right-arrow"></div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="pokemon-title">{{ pokemon.name}}</h2>
                </div>
                <div class="card-body">
                    <div class="card-img">
                        <img alt="_image" src={{ url }} >
                    </div>
                    <div class="informations">
                        <p class="description"></p>
                        <label class="label_height">Height :</label>
                        <p class="height">{{pokemon.height}}</p>
                        <label for="" class="label_weight">Weight :</label>
                        <p class="weight">{{pokemon.weight}}kg</p>
                        <label class="sex">Sex :</label>
                        <p class="sex">
                        </p>
                    </div>
                    <div hidden>
                        <div class="stats">
                            <div id="hp">{{stats.hp.base_stat}}</div>
                            <div id="atq">{{stats.atq.base_stat}}</div>
                            <div id="def">{{stats.def.base_stat}}</div>
                            <div id="atqspe">{{stats.atqSpe.base_stat}}</div>
                            <div id="defspe">{{stats.defSpe.base_stat}}</div>
                            <div id="spd">{{stats.speed.base_stat}}</div>
                        </div>
                    </div>
                    <div class="stats">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static '/js/index.js' %}"></script>
    </main>
</body>
</html>