<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static '/img/pokedex_icon.svg'%}" type="image/x-icon/svg">
    <link rel="stylesheet" href="{% static '/css/style.css '%}">
    <link rel="stylesheet" href="{% static '/css/style-pokemon-types.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <title>Pokédex</title>
</head>
<body>
    {% block nav %}
    <header>
        <div class="container-header">
            <nav class="navbar">
                <div class="header-logo">
                    <img  class="logo" src="{% static '/img/pokedex_icon.svg' %}" alt="logo"  >
                </div>
                <ul class="nav-list row">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My teams</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% endblock nav %}
    {% block content %}
    <main>
        <div class="container">
            <div class="arrows">
                <form action="">
                    <div class="left-arrow"></div>
                    <div class="right-arrow"></div>
                </form>
            </div>

            <div class="card-header">
                <h2 class="pokemon-title">{{ pokemon.name}}</h2>
            </div>
            <div class="card">
                <div class="card-header row center">
                    <div class="card-img row-item">
                        <div class="img-container">
                            <img alt="{{pokemon.name}}_image" src={{ pokemon.sprite }} >
                            <div class="informations">
                                <p class="description"></p>
                                <label class="label_height">Height </label>
                                <span class="height">{{pokemon.height}}</span><br>
                                <label for="" class="label_weight">Weight :</label>
                                <span class="weight" >{{pokemon.weight}}kg</span><br>
                            </div>
                        </div>
                        
                        <div class="type row">
                            {% for type in pokemon.types %}
                            <div class="card-type {{type.type.name}}"title="{{type.type.name}}">
                                <img src="{% static '/img/types/'%}{{type.type.name}}.svg" alt="type-image" class="svg-type" >
                                <span>{{type.type.name}}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-body row-center">
                    <div class="stats">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="abilities column">
                        <h2 class="subtitle subtitle-ability">Abilities : </h2>
                        {% for ability in pokemon.abilities %}
                            <span class="ability">{{ability.ability.name}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div hidden>
            <div>
                <input id="hp" value={{pokemon.stats.hp}}>
                <input id="atq" value={{pokemon.stats.atq}}>
                <input id="def" value={{pokemon.stats.def}}> 
                <input id="atqspe" value={{pokemon.stats.atqSpe}}>
                <input id="defspe" value={{pokemon.stats.defSpe}}>
                <input id="speed" value={{pokemon.stats.speed}}>
            </div>
        </div>
    {% endblock content %}
        <script src="{% static '/js/index.js' %}"></script>
    </main>
</body>
</html>