<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css '%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <title>Pokédex</title>
</head>
<body>
    <header>
        <div class="container-header">
            <nav class="navbar">
                <div class="header-logo">
                    <img  class="logo" src="{% static '/img/pokedex_icon.svg' %}" alt="logo"  >
                </div>
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">My teams</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="arrows">
                <div class="left-arrow"></div>
                <div class="right-arrow"></div>
            </div>

            <div class="card-header">
                <h2 class="pokemon-title">{{ pokemon.name}}</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img alt="_image" src={{ pokemon.sprite }} >
                    </div>
                    <div class="informations">
                        <p class="description"></p>
                        <label class="label_height">Height :</label>
                        <span class="height">{{pokemon.height}}</span><br>
                        <label for="" class="label_weight">Weight :</label>
                        <span class="weight" >{{pokemon.weight}}kg</span><br>
                        <label class="sex">Sex :</label>
                        <span class="sex">
                        </span>
                    </div>
                    <div hidden>
                        <div>
                            <input id="hp" value={{pokemon.stats.hp}}>
                            <input id="atq" value={{pokemon.stats.atq}}>
                            <input id="def" value={{pokemon.stats.def}}> 
                            <input id="atqspe" value={{pokemon.stats.atqSpe}}>
                            <input id="defspe" value={{pokemon.stats.defSpe}}>
                            <input id="speed" value={{pokemon.stats.speed}}>
                        </div>
                    </div>
                    <div class="elements">

                    </div>
                    <div class="temporaire">

                    </div>
                    <div class="stats">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="abilities">

                    </div>
                </div>
            </div>
        </div>
        <script src="{% static '/js/index.js' %}"></script>
    </main>
</body>
</html>