{% extends './index.html' %}
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
    {{block.super}}
    <link rel="stylesheet" href="{% static '/css/styleMovePage.css '%}">
    {% endblock stylesheet %}


    <link rel="stylesheet" href="{% static '/css/styleMovePage.css'%}">
    <title>Moves of {{pokemon.name}}</title>
</head>
<body>
    {% block content %}
    <h1 style="text-align : center;" class="bigText">Moves of {{pokemon.name}} : </h1>
    <div class="container-table">
        <table class="table-moves" style="border-radius : 15px;">
            <th class="move_name_h bigText">
                Name
            </th>
            <th class="move_type_h bigText">
                Type
            </th>
            <th class="move_power_h bigText">
                Power
            </th>
            <th class="move_accuracy_h bigText">
                Accuracy
            </th>
            <th class="move_pp_h bigText">
                PP
            </th>
            {% for move in movesList %}
        <tr class="row_table move{{forloop.counter}}">
            <td class="move_name bigText">
                {{move.name|capfirst}}
            </td>
            <td class="move_type">
                <div class="card-type {{move.type.name}}"title="{{move.type.name}}">
                    <img src="{% static '/img/types/'%}{{move.type.name}}.svg" alt="type-image" class="svg-type" >
                    <span class="">{{move.type.name|capfirst}}</span>
                </div>
            </td>
            <td class="move_power bigText">
                {{move.power}}
            </td>
            <td class="move_accuracy bigText">
                {{move.accuracy}}
            </td>
            <td class="move_pp bigText">
                {{move.pp}}
            </td>
        </tr>
    {% endfor %}
        </table>
    </div>
    <script>const charts = false;</script>
    {% endblock content %}
</body>
</html>